@import "tailwindcss";

@font-face {
  font-family: 'Copperplate';
  src: url('/fonts/Copperplate.ttc') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MinionPro';
  src: url('/fonts/MinionPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #231f20;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #231f20;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  font-size: 3rem;
  padding: 3rem;
  color: #231f20;
}

h1 {
  font-size: 2rem;
  color: #231f20;
}

h2 {
  font-size: 1.25rem;
  color: #231f20;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  color: #231f20;
  padding-right: 2rem;
  padding-bottom: 1rem;
  line-height: 2.5rem;
  font-weight: 200;
}

.formTemplate {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  flex-wrap: wrap;
}

.basicButton {
  background-color: #0075bc;
  color: #ffffff;
  padding-right: 25vh;
  padding-left: 25vh;
  padding-bottom: 3vh;
  padding-top: 3vh;
  border-radius: 4px;
  margin-right: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.basicButton:hover {
  color: #231f20;
  transition: 0.3s;
}

.basicTextBlock {
  padding-top: 2rem;
  font-size: 1.25rem;
  color: #231f20;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  line-height: 2.5rem;
}

.basicCheckBox {
  accent-color: #0075bc;
  margin: 1rem;
  size: 8vh;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.basicInputBox {
  border: 1px, solid, #231f20;
  border-radius: 4px;
  padding: 0.5rem;
  margin: 0.5rem;
}

.basicDropdown {
  border: 1px, solid, #231f20;
  border-radius: 4px;
  padding: 0.5rem;
  margin: 0.5rem; 
  accent-color: #0075bc;
  width: 250px;
  text-align: center;
}

.basicTable {
  width: 100%;
  border-collapse: collapse;
}

.basicTable th,
.basicTable td {
  border: 1px solid #ccc;
  padding: 8px 12px;
}

.basicTable th {
  background: #f4f4f4;
  font-weight: bold;
  text-align: left;
}

ul {
  list-style-type: disc;
  margin-left: 1.5rem;
  padding-left: 0;
}

li {
  margin-bottom: 0.5rem;
}

label {
  display: block;
  margin-bottom: 0.75rem;
}

.basicLinkText {
  color: #0075bc;
}

.basicLinkText:hover {
  color: #00aa4c;
}